#results {
  display: none;
}

.btn {
  display: block;
  background-color: black;
  color: white;
}

.btn:hover {
background-color: white;
color: black;
border: 2px solid black;
}

h1{
  text-align: center;
  text-decoration: underline;
}

#language {
  color: teal;
  font-weight: bold; 
}

p{
  font-size: 20px;
}